@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900');

* {
	box-sizing: border-box;
	transition: all ease-in-out 250ms;
}

body {
	margin: 0;
	font-family: 'Raleway', sans-serif;
	text-align: center;
}

img {
	max-width: 100%;
	height: auto;
}

.container {
	width: 95%;
	max-width: 70em;
	margin: 0 auto;
}

/* typography
============ */
h1 {
	font-size: 1.7rem;
	font-weight: 300;
	margin-top: 0;
}

p {
	margin-top: 0;
	line-height: 1.5;
}

p:last-of-type {
	margin-bottom: 0;
}

.title {
	font-size: 2.5rem;
	margin-bottom: 1.5em;
	font-weight: 900;
	margin-top: 1em;
}

.title span {
	font-weight: 300;
	display: block;
	font-size: .9em;

}

@media (min-width: 60rem) {
	
	p {
		font-size: 1.2rem;
		line-height: 1.6;
	}

	.title {
		font-size: 3.7rem;
	}
}

.button {
	display: inline-block;
	font-size: 1.15rem;
	text-decoration: none;
	text-transform: uppercase;
	border-width: 2px;
	border-style: solid;
	padding: .5em 1.75em;
}

.button-small {
	font-size: .7rem;
	font-weight: 700;
}

.button-accent {
	color: #00ff6c;
	border-color: #00ff6c;
}

.button-accent:hover,
.button-accent:focus {
	background: #00ff6c;
	color: #232323;
}

@media (min-width: 60rem) {

	.button {
		font-size: 1.5rem;
	}
}


/* header
============ */

header {
	position: absolute;
	right: 0;
	left: 0;
	margin: 1em;
	
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	display: inline-block;
	margin: 1em;
}

nav a {
	font-weight: 900;
	text-decoration: none;
	text-transform: uppercase;
	font-size: .8rem;
	padding: .5em;
	color: #FFF
}

nav a:hover,
nav a:focus {
	color: #DDD;
}

@media (min-width: 60rem) {
	
	.logo {
		float: left;
	}

	nav {
		float: right;
	}
}

/* home-hero 
============= */

.home-hero {
	background-image: url(../img/hero-bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 10em 0;
	color: #FFF;
}

@media (min-width: 60rem) {

	.home-hero {
		height: 100vh;
		padding-top: 20vh;
	}
}

/* About
============= */

.home-about-textbox {
	background-color: #232323;
	padding: 4em;
	width: 100vw;
	margin-left: -2.5%;
	outline: 2px solid #00ff6c;
	outline-offset: -2.5em;
	color: #FFF;
	position: relative;
}

.home-about-textbox h1 {
	color: #00ff6c;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: .75em;
	background: #232323;
	padding: 0 .1em;
}

@media (min-width: 25rem) {
	h1 {
		font-size: 2rem;
	}

	.home-about-textbox h1 {
		top: .6em;
		padding: 0 .325em;
	}
}

@media (min-width: 60rem) {
	h1 {
		font-size: 2.5rem;
	}

	.home-about {
		background-image: url(../img/who-we-are.jpg);
		background-repeat: no-repeat;
		padding-bottom: 10em;
	}

	.home-about-textbox {
		width: 50%;
		padding: 7em;
		outline-offset: -3.5em;
		margin-left: -2.5%;
		top: -5em;
		text-align: left;
		box-shadow: 0 0 3em 0 rgba(0,0,0, .3)
	}

	.home-about-textbox h1 {
		top: .75em;
		left: 6rem;
		transform: translateX(0);
	}
}

/* Portfolio 
=========== */

.portfolio {
	margin: 3em 0;
}

.port-item {
	position: relative;
	margin: 0;
}

.port-item img {
	display: block;
}

.port-desc {
	position: absolute;
	z-index: 100;
	bottom: 0em;
	left: 0em;
	right: 0em;
	color: #FFF;
	background: rgba(0, 0, 0, .6);
	padding: 2em;
}

@media (min-width: 37em) {
	.port-item {
		width: 50%;
		float: left;
	}
}

@media (min-width: 60em) {
	.port-item {
		width: 33.333333%;
		overflow: hidden;
	}

	.port-desc {
		transform: translateY(150%);
	}

	.port-item:hover .port-desc {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center; 
		top: 0;
		transform: translateY(0%);
	}
}






